extends ../layouts/main

block primary
  section.profile
    h2.visually-hidden Профиль
    aside.profile__aside
      a(href="./index.pug").button.profile__button
        include ../img/big-arrow.svg
    .profile__main-block
      block information
