extends ../modules/information

block inner-information
  .information__wrapper-block
    .information__picture-block
      img(src="../img/no-avatar.png", alt="Нет аватара")
  .information__wrapper-block
    form.additional-information__form
      ul.additional-information
        li.additional-information__item
          label(for="oldPassword").additional-information__label Старый пароль
          input(type="password", class="additional-information__input", name="oldPassword", id="oldPassword")
        li.additional-information__item
          label(for="newPassword").additional-information__label Новый пароль
          input(type="password", class="additional-information__input", name="newPassword", id="newPassword")
        li.additional-information__item
          label(for="confirmPassword").additional-information__label Повторите новый пароль
          input(type="password", class="additional-information__input", name="confirmPassword", id="confirmPassword")
      a(href="./viewProfile.pug").button.additional-information__button Сохранить
