extends ../layouts/main
include ../components/input-block

block primary
  section.authorize
    .authorize-block.authorize-block--registration
      h2.authorize__header Регистрация
      form.authorize__form
        .authorize__input-wrapper
          +input-block('Почта', 'email')
          +input-block('Логин', 'text')
          +input-block('Имя', 'text')
          +input-block('Фамилия', 'text')
          +input-block('Телефон', 'tel')
          +input-block('Пароль', 'password')
          +input-block('Пароль (ещё раз)', 'password')
        .authorize__link-wrapper
          a.authorize__button.button(href="./index.pug") Регистрация
          a.authorize__link(href="./login.pug") Войти
