extends ../modules/information

block inner-information
  .information__wrapper-block
    .information__picture-block
      img(src="../img/no-avatar.png", alt="Нет аватара")
    h3 Иван
  .information__wrapper-block
    ul.additional-information
      li.additional-information__item
        span.additional-information__label Почта
        span.additional-information__value pochta@yandex.ru
      li.additional-information__item
        span.additional-information__label Логин
        span.additional-information__value ivanivanov
      li.additional-information__item
        span.additional-information__label Имя
        span.additional-information__value Иван
      li.additional-information__item
        span.additional-information__label Фамилия
        span.additional-information__value Иванов
      li.additional-information__item
        span.additional-information__label Имя в чате
        span.additional-information__value Иван
      li.additional-information__item
        span.additional-information__label Телефон
        span.additional-information__value +7 (909) 967 30 30
  .information__wrapper-block
    ul.additional-information
      li.additional-information__item
        a(href="./editProfile.pug").additional-information__link Изменить данные
      li.additional-information__item
        a(href="./editPassword.pug").additional-information__link Изменить пароль
      li.additional-information__item
        a(href="./login.pug").additional-information__link.additional-information__link--red Выйти
